<div class="main form">
	
	<div class="scene-fade-top" x-mojo-scroll-fade="top"></div>

	<div class="palm-page-header multi-line">
		<div class="palm-page-header-wrapper">
			<div class="icon" id="icon"></div>
			<div class="title main">
				<span id="main-title">SysHealth</span>
				<span class="version" id="version">v0.0.0</span>
			</div>
			<div class="title sub" id="subTitle"></div>
		</div>
	</div>
	
        <div class="palm-group unlabeled">
                   <div class="palm-list">
                           
                           <div class="palm-row single">
                                   <div class="palm-row-wrapper">
                                           <div x-mojo-element="Button" id="drop_caches"></div>
                                           <div class="palm-body-text" id="drop_caches-text">This will cause the kernel to drop clean caches, 
# dentries and inodes from memory, causing that memory to become free.</div>
                                   </div>
                           </div>
                           
                   </div>
           </div>
           
           <div class="palm-group unlabeled">
                   <div class="palm-list">
                           
                           <div class="palm-row single">
                                   <div class="palm-row-wrapper">
                                           <div x-mojo-element="Button" id="email_cleanup"></div>
                                           <div class="palm-body-text" id="email_cleanup-text">Clean up email and attachments as webOS leaves them lying around</div>
                                   </div>
                           </div>
                           
                   </div>
           </div>
           
           <div class="palm-group unlabeled">
                   <div class="palm-list">
                           
                           <div class="palm-row single">
                                   <div class="palm-row-wrapper">
                                           <div x-mojo-element="Button" id="sqlite_vacuum"></div>
                                           <div class="palm-body-text" id="sqlite_vacuum-text">Run VACUUM job on SQLite databases. This might take a while.</div>
                                   </div>
                           </div>
                           
                   </div>
           </div>
     
	
	<div class="scene-fade-bottom" x-mojo-scroll-fade="bottom"></div>
	
</div>
